<ion-header class="header-personalizado">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Entrada de Insumos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-personalizado">
  <ion-card class="card-formulario">
    <ion-card-content>

      <ion-label class="campo-label">Insumo</ion-label>
      <ion-select interface="popover" [(ngModel)]="insumoSeleccionado" class="campo-input">
        <ion-select-option *ngFor="let insumo of insumos" [value]="insumo">
          {{ insumo.nombre }}
        </ion-select-option>
      </ion-select>

      <ion-label class="campo-label">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidad" class="campo-input"></ion-input>

      <ion-label class="campo-label">Fecha</ion-label>
      <ion-input readonly [value]="fechaActual" class="campo-input"></ion-input>

      <ion-button expand="block" class="boton-guardar" (click)="guardarInsumo()" [disabled]="! insumoSeleccionado || ! cantidad">
        GUARDAR
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
