<ion-header>
  <ion-toolbar class="header-personalizado" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
  [(ngModel)]="terminoBusqueda"
  (ionInput)="filtrarInsumos()"
  placeholder="Buscar insumo..."
  debounce="300"
  show-clear-button="focus"
  ></ion-searchbar>
  <ion-card *ngFor="let insumo of insumosFiltrados">
    <ion-card-header>
      <ion-card-title>{{ insumo.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Stock disponible: {{ insumo.stock }}
    </ion-card-content>
  </ion-card>
</ion-content>
