<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let insumo of insumos">
    <ion-card-header>
      <ion-card-title>{{ insumo.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Stock disponible: {{ insumo.stock }}
    </ion-card-content>
  </ion-card>
</ion-content>
