<ion-header>
  <ion-toolbar class="header-personalizado">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Distribuir Insumos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido-distribuir ion-padding">
  <ion-searchbar
    [(ngModel)]="terminoBusqueda"
    placeholder="Buscar tienda..."
    debounce="300"
    show-clear-button="focus"
  ></ion-searchbar>

  <ion-card
    *ngFor="let d of distribucionesFiltradas"
    class="tarjeta-distribucion"
    (click)="irADetalle(d)"
  >
    <ion-card-content>
      <div class="fila-superior">
        <div class="nombre-tienda">{{ d.tienda }}</div>
        <div class="anio">Año {{ d.anio }}</div>
      </div>
      <div class="semana">Semana {{ d.semana }}</div>
    </ion-card-content>
  </ion-card>
</ion-content>