:root {
  --ion-color-dark-primary: #243746;
  --ion-color-dark-primary-rgb: 36, 55, 70;
  --ion-color-dark-primary-contrast: #ffffff;
  --ion-color-dark-primary-contrast-rgb: 255, 255, 255;
  --ion-color-dark-primary-shade: #1f323f;
  --ion-color-dark-primary-tint: #3a4d5d;
}