<ion-content fullscreen class="ion-padding">
  <div class="content-center">
    <ion-card class="content-card">
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">Control de Insumos</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-content">
        <ion-input 
          class="input_login" 
          label="Nombre de usuario" 
          type="text" 
          label-placement="floating" 
          fill="outline" 
          placeholder="usuario"
          [(ngModel)]="username">
        </ion-input>
        <ion-input class="input_login"
          label="Contraseña" 
          type="password" 
          label-placement="floating" 
          fill="outline" 
          placeholder="*********"
          [(ngModel)]="password">
        </ion-input>
        <ion-button class="button_contraseña" fill="clear">
          ¿Olvidaste tu contraseña?
        </ion-button>
        <ion-button class="button_login" expand="block" (click)="login()">Login</ion-button>
        <ion-text color="danger" *ngIf="error">
        <p class="ion-padding-top">{{ error }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>