<ion-content class="ion-padding">

  <h2 class="title">Control de Insumos</h2>
  <ion-grid>

    <!-- Fila 1 -->
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-picking']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/picking-icon.png" class="icono-opcion" alt="icono picking" />
            <div class="texto-opcion">Picking de insumos</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-distribuir']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/distribuir-icon.png" class="icono-distribuir" alt="icono distribuir" />
            <div class="texto-opcion">Distribuir Insumos</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Fila 2 -->
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-evidencias']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/evidencias-icon.png" class="icono-evidencias" alt="icono evidencias" />
            <div class="texto-opcion">Ver Evidencias</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-inventario']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/inventario-icon.png" class="icono-inventario" alt="icono inventario" />
            <div class="texto-opcion">Inventario</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Fila 3 -->
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-entrada']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/entrada-icon.png" class="icono-entrada" alt="icono entrada" />
            <div class="texto-opcion">Entrada de Insumos</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card [routerLink]="['/insumos-historial']" class="card-opcion">
          <ion-card-content>
            <img src="assets/icon/historial-icon.png" class="icono-historial" alt="icono historial" />
            <div class="texto-opcion">Historial de Movimientos</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Fila 4: una tarjeta centrada -->
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-card [routerLink]="['/ajustes']" class="card-opcion" >
          <ion-card-content>
            <img src="assets/icon/ajustes-icon.png" class="icono-ajustes" alt="icono ajustes" />
            <div class="texto-opcion">Ajustes</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>